# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
*.spec

# PyInstaller
*.manifest
*.spec

# IDE
.vscode/
.idea/
*.swp
*.swo

# AppImage
*.AppImage
*.AppImage.part
squashfs-root/
AppDir/

# Логи
*.log
