#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_install:
	# Встановлення програми
	install -Dm755 cod/main.py $(CURDIR)/debian/pdf-tool/usr/share/pdf-tool/main.py
	cp -r cod/* $(CURDIR)/debian/pdf-tool/usr/share/pdf-tool/
	
	# Встановлення іконки (з папки img)
	install -Dm644 img/pdf_icon.png $(CURDIR)/debian/pdf-tool/usr/share/icons/hicolor/256x256/apps/pdf-tool.png
	
	# Встановлення .desktop файлу (з папки debian)
	install -Dm644 debian/pdf-tool.desktop $(CURDIR)/debian/pdf-tool/usr/share/applications/pdf-tool.desktop
	
	# Встановлення скрипта запуску
	install -Dm755 debian/pdf-tool.sh $(CURDIR)/debian/pdf-tool/usr/bin/pdf-tool
