Source: pdf-tool
Section: utils
Priority: optional
Maintainer: VMelnik <melnik@melnik.im>
Build-Depends: debhelper-compat (= 13), python3
Standards-Version: 4.6.0

Package: pdf-tool
Architecture: all
Depends: ${misc:Depends},
         python3 (>= 3.10),
         python3-pip,
         ghostscript
Description: Universal PDF Editor
 Потужний та зручний застосунок для роботи з PDF-файлами:
 конвертація, об'єднання, розділення, заповнення форм та стиснення.
