#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_install:
	mkdir -p debian/pdf-tool/usr/share/pdf-tool/
	cp -r src/common debian/pdf-tool/usr/share/pdf-tool/
	cp -r src/app debian/pdf-tool/usr/share/pdf-tool/
	
	mkdir -p debian/pdf-tool/usr/bin/
	echo '#!/bin/bash' > debian/pdf-tool/usr/bin/pdf-tool
	echo 'python3 /usr/share/pdf-tool/app/main.py "$$@"' >> debian/pdf-tool/usr/bin/pdf-tool
	chmod +x debian/pdf-tool/usr/bin/pdf-tool
	
	mkdir -p debian/pdf-tool/usr/share/applications/
	cp debian/pdf-tool.desktop debian/pdf-tool/usr/share/applications/
	
	mkdir -p debian/pdf-tool/usr/share/icons/hicolor/256x256/apps/
	cp src/common/resources/icons/pdf_icon.png debian/pdf-tool/usr/share/icons/hicolor/256x256/apps/pdf-tool.png

override_dh_auto_clean:
	rm -rf debian/pdf-tool
