#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	mkdir -p debian/pdf-tool-full/usr/share/pdf-tool/
	cp -r src/common debian/pdf-tool-full/usr/share/pdf-tool/
	cp -r src/full debian/pdf-tool-full/usr/share/pdf-tool/
	cp -r src/light debian/pdf-tool-full/usr/share/pdf-tool/
	
	mkdir -p debian/pdf-tool-full/usr/bin/
	echo '#!/bin/bash' > debian/pdf-tool-full/usr/bin/pdf-tool
	echo 'python3 /usr/share/pdf-tool/full/main.py "$$@"' >> debian/pdf-tool-full/usr/bin/pdf-tool
	chmod +x debian/pdf-tool-full/usr/bin/pdf-tool
	
	mkdir -p debian/pdf-tool-full/usr/share/applications/
	cp packaging/desktop/pdf-tool-full.desktop debian/pdf-tool-full/usr/share/applications/
	
	mkdir -p debian/pdf-tool-full/usr/share/icons/hicolor/256x256/apps/
	cp src/common/resources/icons/pdf_icon.png debian/pdf-tool-full/usr/share/icons/hicolor/256x256/apps/pdf-tool.png

override_dh_auto_clean:
	rm -rf debian/pdf-tool-full
	dh_auto_clean
